@import('icons-font')

bg_color = #1F354D
line_color = #2D85B5
txt_color = #2B84C6
back_color = #2986C3

h2
	color txt_color
	background-color transparent
body
	background white
	color black
	font-family 'Source Sans Pro', sans-serif
	padding-top 70px
	.navbar-default
		background-color bg_color
		border none
		height 70px
		.navbar-nav > .active > a
		.navbar-nav > .active > a:hover
		.navbar-nav > .active > a:focus
			background-color transparent
			color white
		.navbar-nav li a:hover
			color white
		.navbar-toggle:hover
		.navbar-toggle:focus
			background-color transparent
		&.transparency
			background-color rgba(bg_color, .9)
			transition background-color 2s
		.navbar-header
			height 70px
			.navbar-brand
				width 50px
				height auto
				overflow hidden
				padding 0
				margin 10px 0 0 10px
				img
					width 100%
					height auto
					display block
		.navbar-nav
			background rgba(bg_color, .9)
			font-size 1.3em
			margin-top 0
			padding-bottom 50px
			text-align center
			text-transform uppercase
			li
				margin 0 auto
				padding 0 30px
				&:first-of-type
					a
						border none
				a
					border-top 1px solid white
					color white
					display inline-block
					vertical-align middle
					line-height 1.4em
		.navbar-collapse
			border none
	.navbar-toggle
		border-color none
		border none
		padding 0
		margin 19px 18px 0 0
		transform rotate(-45deg)
		transition all .2s
		span.icon-01
			color white
			font-size 2em
		&.collapsed
			margin 20px 20px 0 0
			transform rotate(0deg)
			transition all .2s
	.logo-banner
		position absolute
		display block
		left 50%
		margin-left -160px
		width 320px
		top 90px
		text-align center
		z-index 2
		figure
			width 70px
			height auto
			position relative
			margin 0 auto 5px auto
			img
				width 100%
				height auto
				display block
		p
			color white
			font-size 1.8em
			text-transform uppercase
	.home-slider
		display block
		height auto
		margin-bottom 0
		overflow hidden
		width 100%
		.item
			background-size cover
			color white
			height 500px
			padding-top 120px
			text-align center
			&.one
				background transparent url(/images/banner-01.jpg) no-repeat center center
				background-size cover
			&.two
				background transparent url(/images/banner-02.jpg) no-repeat center center
				background-size cover
			&.three
				background transparent url(/images/banner-03.jpg) no-repeat center center
				background-size cover
			p
				margin 0 auto
				width 80%
				&.header
					border-bottom 1px solid white
					border-top 1px solid white
					font-size 2em
					padding 20px 0
				&.text
					font-size 1.2em
					padding 30px 0
			span.icon-02
				font-size 2.6em
	.slick-prev
	.slick-next
		display none
		
	.slick-dots
		bottom 20px
		width 100%
		li
			margin 0
			button:before
				color white
		li.slick-active button:before
			color white
	.about
		background transparent url(/images/quimica-imagen-mini.jpg) no-repeat right 200px
		overflow hidden
		padding-top 20px
		h2
			font-size 1.6em
			line-height 1.4em
			margin 20px auto 10px auto
			width 90%
		ul
			font-weight bold
			list-style none
			margin 40px auto 200px auto
			padding 0
			width 90%
			li
				padding-top 2px
		.blue-container
			background-color back_color
			margin-left -10%
			margin-top 30px
			padding 30px 0 20px 0
			transform rotate(-3deg)
			width 120%
			.about-slider
				transform rotate(3deg)
				background transparent url(/images/back_mision_sm.jpg) repeat-x center bottom
				margin-bottom 0
				.item
					color white
					text-align center
					.image
						display inline-block
						height auto
						margin 0
						width 40%
						img
							width 100%
							height auto
							display block
					h2
						color white
					p
						padding 0 10%
						width 90%
						display inline-block
					.acrostic
					.meaning
						display none
			.slick-dots
				bottom 0
				position relative
				margin-bottom 0
	.esfuerzos
		background transparent url(/images/bloque-01.jpg) no-repeat center center
		background-size cover
		color white
		height auto
		margin-top -20px
		overflow hidden
		padding 40px 4%
		position relative
		text-align center
		h3
			margin-bottom 40px
	.productos
		background transparent url(/images/barriles-small-size.jpg) no-repeat right top
		h2
			font-size 1.6em
			margin-left auto
			margin-right auto
			margin-top 0
			padding-top 20px
			width 90%
		ul
			list-style none
			padding-left 5%
		p
			padding 20px 5%
		figure
			display block
			height auto
			margin 0 auto
			overflow hidden
			width 60%
			img
				display block
				height auto
				width 100%
		p.catalogos
			color txt_color
			font-size 1.1em
		.prods
			height 120px
			overflow hidden
			transition all .2s
			&.all
				height 300px
				transition height .5s
			li
				padding-bottom 5px
				a
					color txt_color
					text-decoration underline
		.more
			position relative
			text-align center
			a
				&:visited
				&:active
				&:focus
				&:hover
					text-decoration none
				span.txt::after
					content 'más'
				span.icon-02
					font-size 1.8em
					transform rotate(0deg)
			&.all
				a
					span.txt::after
						content 'menos'
					span.icon-02
						transform rotate(180deg)
						transition all .5s
		.blocks-container
			display none
			height auto
			margin 0 auto
			overflow hidden
			width 1000px
			padding-top 25px
			.col
				-moz-box-shadow: 0px 0px 13px 2px rgba(138,134,138,0.85);
				-webkit-box-shadow: 0px 0px 13px 2px rgba(138,134,138,0.85);
				box-shadow: 0px 0px 13px 2px rgba(138,134,138,0.85);
				float left
				height auto
				margin-left 1.3%
				overflow hidden
				width 31%
				padding-bottom 0
				figure
					display block
					height 200px
					height auto
					left 0
					overflow hidden
					padding 20px 0
					position relative
					top 0
					width 100%
					img
						display block
						height 90px
						width auto
						margin 0 auto
				ul
					background-color #3066A4
					font-size 1.2em
					height 420px
					margin-bottom 0
					padding-bottom 30px
					padding-top 20px
					li
						padding-bottom 8px
						a
							color white
							text-decoration underline
	.angle
		height 110px
		overflow hidden
		position relative
		width 100%
		z-index 2
		.container
			background white
			height 50px
			margin-left -10%
			margin-top 30px
			position relative
			transform rotate(-3deg)
			width 120%
			z-index 2
	.buscamos
		background transparent url(/images/bloque-02.jpg) no-repeat center center
		background-size cover
		color white
		display block
		font-size 1.2em
		font-style italic
		height auto
		line-height 1.7em
		margin-top -60px
		overflow hidden
		padding 120px 5% 80px 5%
		position relative
		text-align center
		z-index 1
	.certificados
		text-align center
		padding-top 20px
		h2
			font-size 1.6em
		p
			padding 20px 5%
			font-size 1.2em
		.container
			width 320px
			float none
			margin 0 auto
			height auto
			overflow hidden
			.col
				width 50%
				float left
				padding-bottom 30px
				a:hover
					text-decoration none
				span.icon-03
					font-size 6em
					line-height 1em
				span.iso
					text-decoration underline
	.contacto
		background-color bg_color
		color white
		text-align center
		padding-top 20px
		h2
			color white
			font-size 1.6em
		p
		address
			line-height 1.6em
			padding 0px 12%
		.company
			font-style italic
		.mapa
			margin 20px 0
			figure
				height auto
				overflow hidden
				width 100%
				img
					display block
					height auto
					width 100%
					&.lg
						display none
					&.sm
						display block
		.form
			float none
			height auto
			margin 0 auto
			position relative
			width 90%
			.line
				height auto
				padding-bottom 10px
				text-align right
				&.error
					.input_text
						border 1px solid red
				.input_text
					background-color white
					border none
					color black
					height 35px
					padding 0 5px
					width 100%
				textarea.input_text
					height 100px
					resize none
				.submit_btn
					background-color line_color
					border none
					color white
					font-size 1.4em
					padding 4px 20px
					text-align center
			.advice
				bottom 8px
				color red
				display none
				left 0
				position absolute
				text-align left
				width 60%
			.sent_mail_alert
				background-color rgba(txt_color, .9)
				color white
				display none
				left 0
				padding 60px 30px
				position absolute
				top 35px
				width 100%
	footer
		background-color bg_color
		display block
		height 150px
		padding-top 10px
		.container
			border-top 1px solid line_color
			display block
			height auto
			margin 0 auto
			overflow hidden
			width 90%
		figure
			display block
			height 108px
			margin 0 auto
			margin-top 12px
			width 118px
			img
				display block
				height auto
				width 100%
@media screen and (min-width:480px)
	body
		.home-slider
			.item
				padding-top 140px
		.about
			background transparent url(/images/quimica-imagen-mid.jpg) no-repeat right 120px
			ul
				margin 40px auto 300px auto
				padding 0
				width 90%
				li
					font-size 1.1em
					padding-top 10px
			.blue-container
				.about-slider
					.item
						font-size 1.3em
						font-smoothing antialiased
		.esfuerzos
			font-size 2em
			padding 70px 6%
			h3
				line-height 1.6em
			p
				font-size .6em
				line-height 1.5em
		.productos
			position relative
			background transparent url(/images/barriles-mid-size.jpg) no-repeat right top
			h2
				font-size 1.8em
			ul
				font-size 1.2em
				li
					padding-top 2px
			p
				font-size 1.2em
				width 55%
			figure
				display block
				height auto
				left 50%
				margin 0 auto
				overflow hidden
				position absolute
				top 60px
				width 240px
				img
					display block
					height auto
					width 100%
			p.catalogos
				font-size 1.7em
				width 100%
			.prods
				li
					padding-bottom 5px
					a
						color txt_color
						text-decoration underline
			.more
				font-size 1.2em
				span.icon-02
					font-size 2.4em
		.buscamos
			font-size 1.6em
			padding 150px 5% 110px 5%
		.certificados
			h2
				font-size 1.8em
			p
				font-size 1em
				padding 20px 4%
			.container
				width 280px
				.col
					padding-bottom 40px
					width 50%
		.contacto
			h2
				margin-bottom 20px
			p
			address
				padding 0px 3%
				font-size 1.2em
				line-height 1.4em
				margin-bottom 5px
			.mapa
				margin 30px 0
			.form
				margin-top 30px
				.advice
					bottom 15px
					width 80%
		footer
			height 240px
			figure
				display block
				height auto
				margin-top 40px
				width 155px
@media screen and (min-width:768px)
	body
		.navbar-default
			.navbar-nav
				background transparent
				float right
				font-size 1em
				margin-top 10px
				padding-bottom 0
				li
					margin 0 auto
					padding 0
					&.active
						a
							border-bottom 1px solid line_color
							background-color transparent
							color white
					a
						border-top none
		.logo-banner
			figure
				width 120px
			p
		.home-slider .item
			padding-top 165px
			height 510px
			p.header
				width 50%
			p.text
				width 60%
				font-size 1.5em
				padding 40px
		.about
			background transparent url(/images/quimica-imagen-mid.jpg) no-repeat right 150px
			h2
				font-size 2em
			ul
				li
					font-size 1.8em
					font-weight 400
			.blue-container
				padding-bottom 80px
				.about-slider
					height 450px
					.item
						height auto
						.inner-container
							height auto
							display block
							.image
								vertical-align middle
								width 25%
								img
									margin 0 auto
							p
								bottom 10%
								padding-left 0
								padding-right 0
								position relative
								vertical-align middle
								width 50%
		.esfuerzos
			padding 100px 6%
			margin-top -80px
			h3
				font-size 1.1em
			p
				font-size .8em
		.productos
			position relative
			overflow hidden
			background transparent url(/images/barriles-big-size.jpg) no-repeat right top
			h2
				font-size 2em
				margin-top 40px
			ul
				font-size 1.5em
				li
					padding-top 2px
			p
				font-size 1.5em
			figure
				left 55%
				top 10px
				width 360px
			p.catalogos
				font-size 1.9em
				text-align center
				margin-top 40px
		.angle
			height 210px
			.container
				height 150px
				margin-top 25px
		.buscamos
			font-size 2em
			padding 200px 5% 140px 5%
		.certificados
			p
				font-size 1.4em
				padding 40px 4%
			.container
				width 740px
				.col
					padding-bottom 40px
					width 50%
					span.icon-03
						font-size 10em
					span.iso
						font-size 1.6em
						text-align center
		.contacto
			.mapa figure img
				&.sm
					display none
				&.lg
					display block
			p
			address
				padding 0px 3%
				font-size 1.4em
				line-height 1.6em
			.form
				.lines-container
					width 100%
					display block
					height auto
					overflow hidden
					padding-bottom 4px
					.line
						width 32%
						display inline-block
						margin-left 1%
						&:first-of-type
							margin-left 0
							width 33.1%
				.advice
					bottom 15px
					width 80%
				.sent_mail_alert
					top 0
@media screen and (min-width:1000px)
	body
		.home-slider
			.item
				p.header
					width 38%
				p.text
					width 50%
		.about
			h2
			ul
				width 70%
			.blue-container
				padding-bottom 80px
				.about-slider
					height 800px
					padding-top 60px
					background transparent url(/images/back_mision_lg.jpg) repeat-x center bottom
					.item
						.inner-container
							padding-top 100px
							.image
								width 20%
							p
								padding 0
								width 50%
							p.valores
								display none
						.acrostic
						.meaning
							display block
						.acrostic
							list-style none
							margin 0 auto 40px auto
							text-transform uppercase
							width 960px
							li
								display block
								text-align left
								.capital
									color white
									display inline-block
									font-weight 700
									height 45px
									line-height 1.3em
									padding-top 0
									text-align center
									vertical-align middle
									width 45px
									&:hover
										cursor pointer
									&.active
										-moz-box-shadow 0px 0px 26px 6px rgba(0,0,0,0.4)
										-webkit-box-shadow 0px 0px 26px 6px rgba(0,0,0,0.4)
										box-shadow 0px 0px 26px 6px rgba(0,0,0,.4)
										transition box-shadow .4s
								.word
									display inline-block
									font-size .7em
									text-transform none
								.meaning
									display inline-block
									display none
									font-size .5em
									font-style italic
									margin-left 55px
									margin-top -10px
									text-transform none
		.angle
			height 100px
			.container
				height 200px
				margin-top -130px
		.prods
		.more
			display none
		.productos .blocks-container
			display block
			padding-bottom 20px
		.buscamos
			margin-top -100px
		.mapa
			a
				.sm
					display none
				.lg
					display block
@media screen and (min-width:1280px)
	body
		.home-slider
			height 500px
		.slick-dots
			bottom 50px
		.about
			.blue-container
				.about-slider
					height 1000px
					.item
						font-size 1.6em
						.acrostic
							li
								.capital
									height 55px
		.angle
			height 210px
			.container
				height 160px
				margin-top -40px
		.buscamos
			margin-top -200px
			padding 350px 20%
		.productos
			h2
				margin-left 15%
			ul.first-list
			p.target
				margin-left 10%
				position relative
				z-index 2
			.blocks-container
				width 1200px
				.col
					margin-left 1.3%
					figure
						height 170px
						img
							height 110px
					ul
						li
							padding-bottom 12px
		.certificados
			p
				padding 40px 20%
		.contacto
			h2
				font-size 3em
			p
			address
				font-size 1.6em
				padding 0px 20%
			.form
				width 780px
				margin 40px auto 0 auto